<% @page_title = "Отзывы" %>
<% content_for :header do %>
  <p class="buttons">
  <%= link_to "Добавить отзыв", :new_product_product_review, :class => 'button green'   %>
  </p>
  <h2 class="products">Отзывы</h2>
<% end %>
<%= render 'table', :reviews => @product_reviews %>
