<% @page_title = "Добавить отзыв" %>
<%= content_for :header do %>
  <p class="buttons">
    <%= link_to "Назад к отзывам", :product_product_reviews, :class => 'button' %>
  </p>
  <h2 class="products">Новый отзыв</h2>
<% end %>
<%= render 'form' %>
