<% @page_title = I18n.t("shoppe.products.page_title") %>
<% content_for :header do %>
  <p class="buttons">
    <%= link_to "Back to product list", :products, :class => 'button' %>
  </p>
  <h2 class="products"><%= I18n.t("shoppe.products.page_title") %></h2>
<% end %>
<%= render 'form' %>
